<footer class="align-self-center text-white">
    <div class="row">
        <div class="col-md-6 col-sm-1"></div>
        <div class="col-md-2 col-sm-4">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-bold">Link Uteis</li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index">Procurar Produtos</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index">Garantia</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index">Mapa do site</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-4">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-bold">Precisas de Ajuda?</li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index">FAQ</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index">Termos</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index">Privacidade</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-3">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-bold">Contactos</li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index"><i class="fab fa-instagram sociais"></i></a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index"><i class="fab fa-facebook-square sociais"></i></a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="Index"><i class="far fa-envelope sociais"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row text-center pt-5">
        <div class="col-md-12">
            <p class="copyright">Copyright &copy; YURent @DateTime.Now.Year</p>
        </div>
    </div>
</footer>
