<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YURent | @ViewBag.Title</title>


    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Meu CSS -->
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/animations.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="~/images/favicon.ico">

</head>
<body>
    @* INÍCIO *@

    @await Html.PartialAsync("_LoggedIn")
    @*<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top text-right">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img width="70" height="50" src="~/images/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active fromCenter">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item fromCenter">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Anunciar</a>
                </li>
                <li class="nav-item dropdown fromCenter">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mais
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">FAQ</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Garantia</a>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index">Como Funciona</a>
                    </div>
                </li>
                <li class="nav-item ml-2">
                    <a href="#login" class="btn btn-orange text-white" data-toggle="modal">Entrar</a>
                </li>
                <li class="nav-item ml-2">
                    <a href="#register" class="btn btn-orange text-white" data-toggle="modal">Registar</a>
                </li>

            </ul>
        </div>
    </nav>*@

    <!-- Modal Login -->


    <div id="login" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Entrar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <a href="#" class="btn btn-block" id="fb">
                        <i class="fab fa-facebook fa-fw "></i>Entrar com Facebook
                    </a>

                    <a href="#" class="btn btn-block" id="google">
                        <i class="fab fa-google fa-fw"></i> Entrar com Gmail
                    </a>
                    <br />
                    <form asp-action="login" method="post">
                        
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-orange">Login</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#">Esqueci-me da password?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Registar -->
    <div id="register" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <a href="#" class="btn btn-block" id="fb">
                        <i class="fab fa-facebook fa-fw"></i>Registar com Facebook
                    </a>

                    <a href="#" class="btn btn-block" id="google">
                        <i class="fab fa-google fa-fw"></i>Registar com Gmail
                    </a>
                    <br />
                    <form asp-action="login" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-orange">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div>
        @RenderBody()
    </div>

    @await Html.PartialAsync("_Footer")

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>


</body>
</html>
