
@{
    ViewData["Title"] = "Perfil";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img class="avatar-perfil" src="~/images/avatar.png" />
        </div>
        <div class="col-md-8">
            <div class="d-flex col-sm-12">
                <h2>Serafim</h2>
                <a class="btn btn-orange text-white ml-3" href="">Enviar Mensagem</a>
            </div>
            <div class="d-flex pt-2 col-sm-12">
                <p class="star"><img src="~/images/Stars/5-star.png" />(1099)</p>
                <p class="pl-2">Lisboa · Entrou em Maio 2019</p>
            </div>
            <div class="pr-300 col-sm-12">
                <p>Tenho coisas extras e sei que vão perder o valor a vender, por isso pensei: porque não alugar?</p>
            </div>
            <h6>Informação verificada</h6>
            <div class="d-flex col-sm-12">
                <p><i class="fas fa-check-circle"></i> Cartão de Cidadão</p>
                <p><i class="fas fa-check-circle pl-2"></i> Numero de Telemóvel</p>
            </div>

        </div>
    </div>
</div>