
@{
    ViewData["Title"] = "Pesquisar";
}

<h1>ResultadoPesquisa</h1>

<form class="card card-sm">
    <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
        </div>
        <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
        </div>
        <div class="col-auto">
            <button class="btn btn-lg btn-orange text-white" type="submit">Procurar</button>
        </div>
    </div>
</form>